<div class="container py-5 px-lg-5">
  <div class="row g-5">
    <div class="col-md-6 col-lg-3">
      <h5 class="text-white mb-4">Contact Info</h5>
      <p><i class="fa fa-phone-alt me-3"></i>+94(0)767205340(English)</p>
      <p><i class="fa fa-phone-alt me-3"></i>+94(0)770840574(Rushian)</p>
      <p><i class="fa fa-envelope me-3"></i>assist@medassist.lk</p>
      <p><i class="fa fa-brands fa-viber me-3"></i>0718205340</p>
      <p><i class="fa fa-brands fa-skype me-3"></i>mahendra6546</p>
      <!--<div class="d-flex pt-2">-->
      <!--<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>-->
      <!--<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>-->
      <!--<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>-->
      <!--<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>-->
      <!--<a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>-->
      <!--</div>-->
    </div>
    <div class="col-md-6 col-lg-3">
      <h5 class="text-white mb-4">MedAssist Lanka (Pvt) Ltd</h5>
      <p><i class="fa fa-map-marker-alt me-3"></i>No 10, Matara Road, Telijjawila 81060, Sri Lanka</p>
      <p><i class="fa fa-phone-alt me-3"></i>+94(0)413444546</p>
      <p><i class="fa fa-phone-alt me-3"></i>+94(0)718805118</p>
      <p><i class="fa fa-envelope me-3"></i>info@medassist.lk</p>
      <p><i class="fa fa-regular fa-file-word me-3"></i>www.medassist.lk</p>
    </div>
    <div class="col-md-6 col-lg-3">
      <h5 class="text-white mb-4">Horizon Medical Services</h5>
      <p><i class="fa fa-map-marker-alt me-3"></i>No 85, Sri Wajiragnana Mawatha, Weligama 81700, Sri Lanka</p>
      <p><i class="fa fa-phone-alt me-3"></i>+94(0)718205340</p>
    </div>
    <div class="col-md-6 col-lg-3">
      <h5 class="text-white mb-4">Legal (Lawyer`s) Office</h5>
      <p><i class="fa fa-map-marker-alt me-3"></i>No 65, Lawyer`s Office Complex, Fort, Matara 81000, Sri Lanka</p>
      <p><i class="fa fa-phone-alt me-3"></i>+94(0)718205320</p>
    </div>
  </div>
</div>
