<div class="container">
  <h1>Specialized Client Care</h1>
  <div class="widget">
    <a href="#corporate" class="section">
      <h3>Corporate Clients</h3>
      <ul>
        <li>Business Travelers</li>
        <li>Organizations</li>
      </ul>
    </a>
    <a href="#global" class="section">
      <h3>Global Travelers</h3>
      <ul>
        <li>Foreign Tourists</li>
        <li>Expats</li>
      </ul>
    </a>
    <a href="#maritime" class="section">
      <h3>Maritime Professionals</h3>
      <ul>
        <li>Seafarers</li>
        <li>Families of Seafarers</li>
      </ul>
    </a>
  </div>
</div>

<div class="container">
  <h3>Specialized Services</h3>
  <div class="widget widget-sec">
    <a href="#diagnostic" class="section section-sec">
      <h5>Advanced Diagnostic Service</h5>
    </a>
    <a href="#cardiac" class="section section-sec">
      <h5>Advanced Cardiac Care & Medical Expertise</h5>
    </a>
  </div>
</div>
