<div class="container">
  <h1>Specialized Client Care</h1>
  <div class="widget">
    <a href="#corporate" class="section">
      <h3>Corporate Client Services</h3>
      <ul>
        <li>Insurance & Assistance Companies</li>
        <li>Multinational Corporations</li>
        <li>Corporate Partnerships</li>
      </ul>
    </a>
    <a href="#global" class="section">
      <h3>Global Traveler Assistance </h3>
      <ul>
        <li>Leisure Travelers</li>
        <li>Business Travelers</li>
        <li>Long-Term Visitors & Expats</li>
      </ul>
    </a>
    <a href="#maritime" class="section">
      <h3>Maritime Professional Assistance</h3>
      <ul>
        <li>Seafarers</li>
        <li>Family Members</li>
      </ul>
    </a>
  </div>
</div>

<div class="container">
  <h3>Specialized Services</h3>
  <div class="widget widget-sec">
    <a href="#holter" class="section section-sec">
      <h5>Holter Analysis Service</h5>
    </a>
    <a href="#diagnostic" class="section section-sec">
      <h5>ECG Interpretation Service</h5>
    </a>
    <a href="#diagnostic" class="section section-sec">
      <h5>Laboratory Test Coordination</h5>
    </a>
    <a href="#cardiac" class="section section-sec">
      <h5>Advanced Cardiac Diagnostics</h5>
    </a>
  </div>
</div>
