<form method="POST" enctype="multipart/form-data" action="/upload?${_csrf.parameterName}=${_csrf.token}">
  <input type="file" name="file"><br>
  <input type="submit" value="Upload">
</form>



<form class="form" [formGroup]="form">

  <mat-form-field class="form-control">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" type="text" required />
    <mat-error *ngIf="form?.controls?.firstName?.hasError('required')">
      First Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-control">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" type="text" required />
    <mat-error *ngIf="form?.controls?.lastName?.hasError('required')">
      Last Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-control">
    <mat-label>Mobile Number</mat-label>
    <input matInput formControlName="mobileNumber" type="text" required />
    <mat-error *ngIf="form?.controls?.mobileNumber?.hasError('required')">
      Mobile Number is required
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-control">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="text" required />
    <mat-error *ngIf="form?.controls?.email?.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="form?.controls?.email?.hasError('email')">
      Email isn't valid. Please enter a valid email.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-control">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" required />
    <mat-error *ngIf="form?.controls?.password?.hasError('required')">
      Password is required
    </mat-error>
  </mat-form-field>

  <div class="form-footer pt-1">
    <button [disabled]="form.invalid" (click)="onSubmit()" mat-raised-button type="button">
      Save
    </button>
  </div>
</form>
