<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
  <a href="#/dashboard" class="navbar-brand p-0">
    <img src="../assets/logo/logo.png" alt="Logo">
  </a>
  <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse w-100" id="navbarCollapse">
    <!-- Iterate over the categories and their menu items -->
    <div *ngFor="let category of menuItems[switchMenu]">
      <!-- Render the category dropdown -->
      <div class="nav-item dropdown">
        <!-- First level menu item -->
        <a [class]="category.MENU_ITEM ? 'dropdown-toggle nav-link  p-lg-1' : 'nav-link  p-lg-2'" (click)="changeMenuCallBack(category.KEY)" *ngIf="!category.MENU_ITEM"
           [class.active]="selectedMenuKey === category.KEY"
        >
          {{ getMenuName('dashboard', '', category.KEY, 'DISPLAY_NAME') }}
        </a>
        <a href="#" class="nav-link dropdown-toggle p-lg-1" *ngIf="category.MENU_ITEM" data-bs-toggle="dropdown">
          {{ getMenuName('dashboard', '', category.KEY, 'DISPLAY_NAME') }}
        </a>

        <!-- First level dropdown menu -->
        <div class="dropdown-menu m-0" *ngIf="category.MENU_ITEM">
          <!-- Iterate over the items in each category -->
          <a *ngFor="let item of category.MENU_ITEM" class="dropdown-item" (click)="changeMenuCallBack(item.key)">
            {{ getMenuName('dashboard', category.KEY, 'MENU_ITEM', item.key) }}
          </a>

          <!-- Check if any item has a sub-menu and render the second level dropdown -->
          <div *ngFor="let item of category.MENU_ITEM" class="dropdown-submenu">
            <a href="#" class="dropdown-item dropdown-toggle" *ngIf="item.SUB_MENU" data-bs-toggle="dropdown" (click)="$event.stopPropagation()">
              {{ getMenuName('dashboard', category.KEY, 'MENU_ITEM', item.key) }}
            </a>

            <!-- Second level dropdown menu -->
            <div class="dropdown-menu" *ngIf="item.SUB_MENU">
              <a *ngFor="let subItem of item.SUB_MENU" class="dropdown-item" (click)="changeMenuCallBack(subItem.key)">
                {{ getMenuName('dashboard', category.KEY + '_SUB', 'MENU_ITEM', subItem.key) }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Search Button and Pro Version Link -->
<!--    <button type="button" class="btn text-secondary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal">
      <i class="fa fa-search"></i>
    </button>-->
    <!-- Optional Search Button (Now as a Toggle Button) -->
  <!--  <label *ngIf="enableSwitch">Medical Assistance</label>
    <label *ngIf="!enableSwitch">Specialized Menus</label>
    <div class="pl-3"><ui-switch [(ngModel)]="enableSwitch"></ui-switch></div>-->
    <!--<div class="w-100">  <div class="float-end">  <ng-select [(ngModel)]="switchMenu" [clearable]="false" [items]="menuSelectItems" bindLabel="description" placeholder="&#45;&#45;Please Select&#45;&#45;">
    </ng-select></div></div>-->
   <!-- <a href="https://htmlcodex.com/startup-company-website-template" class="btn btn-secondary text-light rounded-pill py-2 px-4 ms-3">Pro Version</a>-->
  </div>
</nav>
